:root {
    --all-field-background: #ffffff;
    --orange-highlight: #ff6f47;
    --background-image: linear-gradient(69deg, #2a2a2a, #263632 40%, #2a2a2a);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: var(--orange-highlight);
}

body {
    background-image: var(--background-image);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
    padding-top: 10rem;
    padding-bottom: 0;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: var(--all-field-background);
}

form button {
    color: var(--orange-highlight);
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: var(--orange-highlight);
    color: white;
}

.clear-completed-button {
    color: red;
    height: 3.5rem;
}

.clear-completed-button:hover {
    background: red;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.todo-list {
    min-width: 60%;
    list-style: none;
    display: flow;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .add-todo-form {
        margin: 1rem;
    }

    .todo-list {
        width: 100%;
    }

    .todo {
        width: 89%;
    }
}

.todo {
    margin: 0.5rem;
    background: var(--all-field-background);
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.filter-todo {
    padding: 1rem;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: var(--orange-highlight);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(11, 212, 162);
}

.todo-item {
    padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    background: var(--all-field-background);
}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: var(--orange-highlight);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}

/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: var(--orange-highlight);
    cursor: pointer;
    pointer-events: none;
}

/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/

/* login/register style */
.login-register-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

.login-register-form {
    display: flex;
    padding: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-register-form input {
    margin: 1rem 3rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 1rem;
}

.login-register-form button {
    border: none;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.login-register-form ::placeholder {
    padding: 0.5rem;
}

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
    border: none;
}

@media screen and (min-width: 600px) {
    .login-register-form {
        padding: 5rem 1.5rem;
        border: 1px solid white;
        border-radius: 1rem;
        margin: 2rem;
    }

    .todos-form {
        padding: 1rem 1.5rem;
        border: 1px solid white;
        border-radius: 1rem;
        margin: 2rem;
    }
}

.not-found-div {
    padding: 5rem 1.5rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 2rem;
}